
.main{
	width: 996px;
	min-height: 200px;
	margin:0 auto;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;

	.cart_title div, .product div{
		width:100px;
		height:30px;
		line-height: 30px;
		text-align: center;
		border:1px solid;
		float:left;
		color:#adadad;

	}

	.product div {
			height: 90px;
			line-height: 90px;
			overflow: hidden;
		}
	.cart_title, .cart_body, .product {
			clear:both;
		}
	.minus, .add {
			width:20px;
			height:30px;
			line-height: 30px;
			display: inline-block;
			border:1px solid;
			cursor:pointer;
		}
	.cart_title .title, .product .title {
			width:300px;
		}
	.total {
			width:912px;
			height:30px;
			line-height: 30px;
			position: relative;
			bottom:0;

			border: 1px solid #adadad;
		}


}