.main{
	width: 996px;
	min-height: 200px;
	border: 1px solid red;
	margin: 0 auto;
	margin-bottom: 10px;
	overflow: hidden;
	
		
		/*.price{
					font-size: 16px;
					color: white;
					width: 400px;
					height: 40px;
					line-height: 30px;
					background:#6dc4df ;
					text-align: center;
					margin-bottom: 10px;
					
				}*/
				
}